.header {
  padding: 0em 0 0 1.5rem;
  background-color: darkviolet;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  h3 {
    margin: 0;
  }
  .page-name {
    text-decoration: none;
    color: white;
  }

  &-list {
    display: flex;
  }

  &-item {
    padding: 1em;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    color: white;
    &:hover {
      background-color: indigo;
    }
  }
}
